:root{
    --thin: 100;
    --regular: 400;
    --medium: 500;
    --semi-bold:600;
    --bold: 700;
    --black: 900;
    
    --WHITE: #FFFFFF;
    --OFFWHITE: #FDFDFD;
    --SHADOW-COLOR: rgba(0, 0, 0, 0.153);
    --ACCENT:#8a3bf5;
    --nav-color-idle: black;
}

.sidebar-button{
    border:none;
    background:none;
    padding:0;
}

#sidebar{
    max-width: min(300px, 75vw);
}

.transition-icon {
  transition: transform 0.3s ease;
}

.collapse.show + .transition-icon,
.nav-link[aria-expanded="true"] .transition-icon {
  transform: rotate(180deg);
}

.sidebar-content-wrapper{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

html{
    font-family: Roboto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height:100%;
}

body {
    margin: 0;
    padding-top: 60px;
    padding-bottom: 72px;
    background-color: var(--OFFWHITE);
    overflow-y: auto;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.bottom-nav-container i{
    font-size: clamp(1em, 2.5em, 3em);
}

.bottom-nav-container label{
    font-size: clamp(1.5vh, 2em, 1.5em);
}

.bottom-nav-item{
    background-color: none;
    display: flex;
    flex-direction: column;
    flex: 1;
    height:100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--nav-color-idle)
}

.bottom-nav-item:active{
    color:var(--ACCENT);
}

.bottom-nav-item .fa{
    color:inherit;
}

#home-selector{
    font-family: Roboto;
    font-weight: var(--semi-bold);
    background: none;
    outline:none;
    border: none;
    font-size: inherit;
}

a .fa{
    color: black;
}

.circular-button {
    width: 3rem; /* Adjust as needed */
    height: 3rem; /* Adjust as needed */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; /* Adjust icon size */
}