:root{
    --thin: 100;
    --regular: 400;
    --medium: 500;
    --semi-bold:600;
    --bold: 700;
    --black: 900;
    
    --WHITE: #FFFFFF;
    --OFFWHITE: #FDFDFD;
    --SHADOW-COLOR: rgba(0, 0, 0, 0.153);
    --ACCENT:#8a3bf5;
}

.container-custom{
    border-radius: 38px;
    width:96%;
    margin-top:8px;
}

#task-container{
    font-weight: var(--medium);
}

#device-container{
    font-weight: var(--medium);
}

.circular-button {
    width: 3rem; /* Adjust as needed */
    height: 3rem; /* Adjust as needed */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem; /* Adjust icon size */
}

.centerWindow{
    background: rgba(0,0,0,0.59);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--WHITE);
    height: 55vh;
    width: min(500px, 80vw);
    padding: 16px;
    border-radius: 16px;
    position: relative;
}

.task-popup-properties{
    overflow-y: auto;
    flex-grow: 1;
}

#side-bar{
    z-index:500;
    background-color: red;
}

.popup-content-header{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px 12px;
}

.popup-content-header .exit-icon {
    text-align: center;
    background: none;
    padding: 3px 5px;
    border: none;
    font-size: large;
}

.task-popup {
    font-size: large;
}

.task-popup select {
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    background: none;
}

.task-popup .row {
    margin: auto;
    width: 100%;
    margin-top:8px;
    padding:5px;
}

.task-popup .col-6{
}

.task-popup input{
    width: 100%;
}

.form-check-input:focus {
  box-shadow: none !important;
  outline: none !important;
}

#task-list{
    list-style: none;
    font-weight: 400;
    font-size: medium;
}